
<script id="t-payment-info" type="text/html">

    <h3>Order Summary</h3>
    <table class="table table-condensed">
        <tbody data-bind="foreach: { data: data.cart(), as: 'cartItem' }">
            <tr data-bind="value: cartItem.uid">
                <td><h5 data-bind="text: cartItem.title"></h5></td>
                <td><h5 data-bind="text: cartItem.price"></h5></td>
            </tr>
        </tbody>
    </table>
    <h4>Total: $<span id="order-total" data-bind="text: data.total()"></span></h4>
    <form action="/#/create-order-test" method="post" id="test-create-order-form">
        <input type="hidden" name="orderData" data-bind="value:data.cartData()" />
        <input type="submit" value="test create order" class="btn btn-success" />
    </form>
    <br />
    <br />
    <h1></h1>
    <form action="/#/confirm" method="post" role="form" id="payment-form">
        <div class="form-row">
            <label>
                <span>Card Number</span>
                <input type="text" size="20" id="number" />
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>CVC</span>
                <input type="text" size="4" id="cvc" />
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Expiration (MM/YYYY)</span>
                <input type="text" size="2" id="exp-month" />
            </label>
            <span> / </span>
            <input type="text" size="4" id="exp-year" />
        </div>

        <button class="btn btn-success" type="submit">Checkout</button>
    </form>

</script>
