
<script id="t-payment-info" type="text/html">

        <h1></h1>
    <form action="/#/confirm" method="post" role="form" id="payment-form">
        <div class="form-row">
            <label>
                <span>Card Number</span>
                <input type="text" size="20" id="number" />
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>CVC</span>
                <input type="text" size="4" id="cvc" />
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Expiration (MM/YYYY)</span>
                <input type="text" size="2" id="exp-month" />
            </label>
            <span> / </span>
            <input type="text" size="4" id="exp-year" />
        </div>

        <button class="btn btn-success" type="submit">Checkout</button>
    </form>

    </script>
